Make a method called choropleth. This method should receive a year as input, which must be an integer. Raise otherwise. We're going deep with our analysis and we're going to use geodata. We recommend you install geopandas. Alter the method where you download the data to also download and read a geographical dataset. The geo dataset must have the polygons for as many countries as possible. You can get such a datafile here (use cultural data, as it refers to countries). If you download a zip file, remember you want to access the shapefile (.shp) inside. Read the documentation for geopandas for examples on how to read data.

In [ ]:
pip install numpy pandas shapely fiona pyproj rtree
pip install geopandas

In [40]:
from agros import Agros

In [41]:
import pandas as pd

In [7]:
testing = Agros()

In [9]:
df = testing.download_data()

,Year,tfp,output,inputs,ag_land_index,labor_index,capital_index,materials_index,output_quantity,crop_output_quantity,...,ag_land_quantity,labor_quantity,capital_quantity,machinery_quantity,livestock_quantity,fertilizer_quantity,animal_feed_quantity,cropland_quantity,pasture_quantity,irrigation_quantity
count,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,12182.000000,1.218200e+04,1.218200e+04,...,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,1.218200e+04,12182.000000
mean,1990.452225,85.034204,69.855250,83.098867,91.109252,120.246137,70.712611,74.456554,6.542024e+07,4.006052e+07,...,5.388450e+04,2.555985e+04,9.898867e+04,4.486205e+04,4.970279e+04,4.139921e+06,8.245834e+07,4.040027e+04,8.774184e+04,6993.843047
std,17.071525,29.359555,33.016545,33.656404,31.582940,94.722016,35.177249,61.568852,2.580072e+08,1.591937e+08,...,1.907819e+05,1.086341e+05,3.803203e+05,2.005774e+05,1.842846e+05,1.617579e+07,3.188277e+08,1.414526e+05,3.150928e+05,27774.138414
min,1961.000000,8.169600,3.259300,1.291900,7.192400,6.620900,0.361300,0.030300,5.367000e+03,5.000000e+01,...,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,3.000000e+00,1.200000e+01,1.070000e+02,0.000000e+00,0.000000e+00,0.000000
25%,1976.000000,66.892625,42.721925,57.441725,75.370125,71.991650,43.835950,34.044175,9.864915e+05,5.258850e+05,...,8.350000e+02,2.190000e+02,7.080000e+02,6.400000e+01,9.042500e+02,1.991875e+04,4.546075e+05,6.142500e+02,5.300000e+02,21.000000
50%,1991.000000,83.260550,70.382000,85.782950,96.241900,98.763350,71.140800,70.613500,4.124253e+06,2.375536e+06,...,3.558500e+03,1.114500e+03,4.443500e+03,6.970000e+02,3.759000e+03,1.487130e+05,3.145580e+06,2.594000e+03,4.000000e+03,200.000000
75%,2005.000000,99.628425,95.665225,101.712100,104.328075,127.240975,96.596500,100.000000,1.860507e+07,1.114921e+07,...,1.604200e+04,5.017000e+03,2.810450e+04,7.270500e+03,1.580225e+04,9.756272e+05,2.297098e+07,1.244575e+04,3.000000e+04,1699.250000
max,2019.000000,401.810000,231.017100,264.651900,622.664200,1108.744200,443.557200,1245.424600,4.201748e+09,2.540194e+09,...,2.178532e+06,1.057446e+06,6.166273e+06,2.906565e+06,2.281743e+06,2.174210e+08,4.819337e+09,1.577808e+06,3.346286e+06,335404.000000

In [81]:
continents = ['Asia', 'Africa', 'North America', 'South America', 'Antarctica', 'Europe', 'Australia']
countries_df = df[~df['Entity'].isin(continents)]
print(len(countries_df))

11946

In [42]:
import geopandas as gpd
world = gpd.read_file(gpd.datasets.get_path('naturalearth_lowres'))
#integrate this one in the download method

In [16]:
world

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."

In [18]:
df.head()

,Entity,Year,tfp,output,inputs,ag_land_index,labor_index,capital_index,materials_index,output_quantity,...,ag_land_quantity,labor_quantity,capital_quantity,machinery_quantity,livestock_quantity,fertilizer_quantity,animal_feed_quantity,cropland_quantity,pasture_quantity,irrigation_quantity
0,Afghanistan,1961,65.0814,44.8285,68.8807,91.6812,44.5145,141.5215,35.9132,2566730,...,10571,1704,8866,5,6339,57345,2068912,7700,30000,2380
1,Afghanistan,1962,64.0637,45.6182,71.2075,92.2016,45.0207,163.6547,36.3829,2611942,...,10631,1723,10253,6,6228,58146,2082012,7760,30000,2380
2,Afghanistan,1963,61.6217,45.9729,74.6051,92.6352,45.5528,202.0577,37.0801,2632254,...,10681,1743,12659,8,6547,59694,2007829,7810,30000,2380
3,Afghanistan,1964,65.1109,49.0775,75.3752,93.1816,46.1108,203.8875,37.5294,2810010,...,10744,1765,12773,8,6732,60006,2140272,7873,30000,2380
4,Afghanistan,1965,63.8587,51.2121,80.1960,93.1990,46.6948,270.9746,38.5949,2932230,...,10746,1787,16976,12,6946,61821,2171226,7875,30000,2380

In [19]:
world.head()

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [24]:
result = pd.merge(df, world, left_on='Entity', right_on='name', how='left')

In [25]:
result.head()

,Entity,Year,tfp,output,inputs,ag_land_index,labor_index,capital_index,materials_index,output_quantity,...,animal_feed_quantity,cropland_quantity,pasture_quantity,irrigation_quantity,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,Afghanistan,1961,65.0814,44.8285,68.8807,91.6812,44.5145,141.5215,35.9132,2566730,...,2068912,7700,30000,2380,38041754.0,Asia,Afghanistan,AFG,19291.0,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
1,Afghanistan,1962,64.0637,45.6182,71.2075,92.2016,45.0207,163.6547,36.3829,2611942,...,2082012,7760,30000,2380,38041754.0,Asia,Afghanistan,AFG,19291.0,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
2,Afghanistan,1963,61.6217,45.9729,74.6051,92.6352,45.5528,202.0577,37.0801,2632254,...,2007829,7810,30000,2380,38041754.0,Asia,Afghanistan,AFG,19291.0,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
3,Afghanistan,1964,65.1109,49.0775,75.3752,93.1816,46.1108,203.8875,37.5294,2810010,...,2140272,7873,30000,2380,38041754.0,Asia,Afghanistan,AFG,19291.0,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."
4,Afghanistan,1965,63.8587,51.2121,80.1960,93.1990,46.6948,270.9746,38.5949,2932230,...,2171226,7875,30000,2380,38041754.0,Asia,Afghanistan,AFG,19291.0,"POLYGON ((66.51861 37.36278, 67.07578 37.35614..."

In [66]:
import pandas as pd
import numpy as np
import plotly.express as px

class ChoroplethMap:
    
    def __init__(self, df, world):
        self.df = df
        self.world = world
    
    def choropleth(self, year):
        if not isinstance(year, int):
            raise ValueError("Year must be an integer")
            
        ## Create a dictionary to map country names
        #merge_dict = {'United States': 'USA', 'Korea, Republic of': 'South Korea'}
        #
        ## Rename countries in df
        #self.df['Entity'] = self.df['Entity'].replace(merge_dict)
        #
        ## Rename countries in world
        #self.world['name'] = self.world['name'].replace(merge_dict)
        
        # Join data frames
        df_merged = pd.merge(self.world, self.df, left_on='name', right_on='Entity', how='left')
        
        # Create choropleth map using merged data frame
        # (this is just an example - you would need to install geopandas and plotly to create a real choropleth map)
        fig = px.choropleth(df_merged, locations='iso_a3', color='tfp',
                            animation_frame="Year", projection='natural earth')
        
        return fig

In [67]:
chlor = ChoroplethMap(df, world)

In [68]:
chlor.choropleth(1990)

KeyError: (nan, '', '')

In [65]:
world

,pop_est,continent,name,iso_a3,gdp_md_est,geometry
0,889953.0,Oceania,Fiji,FJI,5496,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,58005463.0,Africa,Tanzania,TZA,63177,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,603253.0,Africa,W. Sahara,ESH,907,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,37589262.0,North America,Canada,CAN,1736425,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,328239523.0,North America,United States of America,USA,21433226,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."
...,...,...,...,...,...,...
172,6944975.0,Europe,Serbia,SRB,51475,"POLYGON ((18.82982 45.90887, 18.82984 45.90888..."
173,622137.0,Europe,Montenegro,MNE,5542,"POLYGON ((20.07070 42.58863, 19.80161 42.50009..."
174,1794248.0,Europe,Kosovo,-99,7926,"POLYGON ((20.59025 41.85541, 20.52295 42.21787..."
175,1394973.0,North America,Trinidad and Tobago,TTO,24269,"POLYGON ((-61.68000 10.76000, -61.10500 10.890..."
176,11062113.0,Africa,S. Sudan,SSD,11998,"POLYGON ((30.83385 3.50917, 29.95350 4.17370, ..."